

body .navbar {
    color:white ;
    background-color: rgba(0, 0, 0, 0.286);
    /* background: rgb(85,34,87);
background: linear-gradient(133deg, rgba(85,34,87,1) 0%, rgba(153,46,158,1) 54%, rgba(85,34,87,1) 100%); */
    display: flex;
    justify-content: space-between;
  }
  body .navbar .logo {
    font-size: 2rem;
    align-self: center;
    margin: 1vh 25px;
  }
  body .navbar .logo:hover {
    cursor: pointer;
  }
  body .navbar .sign-out {
    margin: 1vh 25px;
    font-size: 1.5rem;
  }
  body .navbar .sign-out:hover {
    cursor: pointer;
    margin: 1vh 25px;
    font-size: 1.5rem;
  }
  body .navbar .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .navbar .tabs .nav-btn {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 25px;
    transition: 70ms ease-in-out;
  }
  body .navbar .tabs .nav-btn:hover {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.286);
    padding: 0 25px;
    height: 100%;
    transition: 70ms ease-in-out;

  }
