*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}

body{
    background: rgb(160,252,98);
    background: linear-gradient(133deg, rgba(160,252,98,1) 0%, rgba(153,240,94,1) 30%, rgba(85,34,87,1) 100%);
    display: flex;
    flex-direction: column;
    .main-body{
        display: flex;
        align-items: center;
        flex-direction: column;
        .welcome{
            margin: 20px;
            font-size: 2rem;
            span{
                color:#552257;
            }
            transition: 70ms ease-in-out;

        }
        .welcome:hover{
            margin: 20px;
            font-size: 2rem;
            color:#552257;
            span{
                color: black;
            }
            transition: 70ms ease-in-out;
        }
        .conv-options{
            display: flex;
            margin: 20px;
            .c-btn{
                border-radius: 15px;
                color: white;
                background-color:#9E1FA3;
                border: 1px solid #9E1FA3;
                font-size: 2rem;
                padding: 20px;
                margin: 20px;
            }
            .c-btn:hover{
                cursor: pointer;
                border: 1px solid #9E1FA3;
                color: black;
                background-color: transparent;
                transition: 100ms;
            }
        }
    }

}