<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'Styles/Files/files.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'Styles/all.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'Styles/navbar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>My File</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            This is us
        </div>
        <div class="tabs">
            <div class="compress nav-btn">Compress</div>
            <div class="my-files nav-btn">My Files</div>
        </div>
        <div class="sign-out">
            <h3 class="lout">Sign out</h3>
        </div>
    </div>
    <div class="main-body">
        <div class="l-panel">
            <div class="heading">
                File Types
            </div>
            <div class="t-names">
                <div class="all-files f-type">All Files</div>
                <div class="t-files f-type">Text</div>
                <div class="a-files f-type">Audio</div>
                <div class="i-files f-type">Images</div>
                <div class="v-files f-type">Videos</div>
            </div>
        </div>
        <div class="r-panel">
            <table class="f-list">
                <colgroup>
                    <col class="srno" span="1">
                    <col span="1" class="filename">
                    <col span="1" class="size">
                    <col span="1" class="ratio">
                    <col span="1" class="dl">
                </colgroup>
                <tbody class="tbody">
                <tr class="heads">
                    <th>Sr. No</th>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>Ratio</th>
                    <th>Download</th>
                </tr>
                <tr>
                    <td class="">1</td>
                    <td>file.txt</td>
                    <td>1gb</td>
                    <td>0%</td>
                    <td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Download</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>