<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'Styles/Files/files.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'Styles/all.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'Styles/navbar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>My File</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            This is us
        </div>
        <div class="tabs">
            <div class="compress nav-btn">Compress</div>
            <div class="my-files nav-btn">My Files</div>
        </div>
        <div class="sign-out">
            <h3 class="lout">Sign out</h3>
        </div>
    </div>
    <div class="main-body">
        
    </div>
</body>
<script src="./Scripts/routing.js"></script>
</html>