<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Styles/Landing/homepage.css">
    <link rel="stylesheet" href="./Styles/all.css">
    <title>Create Account</title>
</head>
<body class="main-content">
    <div class="content">
        <div class="info">
            <p>This is the best compression tool ever</p>
        </div>
        <div class="login">
            <div class="login-box">
                <h1>Sign Up</h1>
                <form class="login-form">
                    <input type="text" name="" id="" class="name log-input formitem" placeholder="Name">
                    <input type="text" name="" id="" class="username log-input formitem" placeholder="Username">
                    <input type="password" name="" id="" class="pass log-input formitem" placeholder="Password">
                    <div class="lbtns">
                        <input type="submit" class="sub-btn log-btn formitem" value="Create Account">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>