<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='Styles/Upload Pages/compress.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'Styles/all.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'Styles/navbar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Compress Text</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            This is us
        </div>
        <div class="tabs">
            <div class="compress nav-btn">Compress</div>
            <div class="my-files nav-btn">My Files</div>
        </div>
        <div class="sign-out">
            <h3>Sign out</h3>
        </div>
    </div>
    <div class="main-body">
        <div class="heading">
            <h1>Compress <span>Text</span></h1>
        </div>
        <div class="up-box">
            <div class="upload-txt">
                Upload File
            </div>
            <div class="uuu">
                <input type="file" id="file" accept="text/*">
                <label for="file">Choose a file</label>
            </div>
            <button  class="upload">Compress</button>

        </div>
        <div class="comp-dis hidden">
            <p>Compressed File</p>
            <div class="naper">
                <div class="name">File.txt</div>
                <div class="percent">50% lesser</div>
                <div class="down-btn">
                    <button class="dbtn">Download</button></div>
                </div>
                <button id="comp-again">Compress Another</button>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static', filename = 'Scripts/compresspage.js')}}"></script>

</html>